<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h2>How many countries are in Africa?</h2>
<form>
  <input type="radio" name="choice" data-right> 54
  <input type="radio" name="choice" data-wrong> 32
  <input type="radio" name="choice" data-wrong> 48
  <input type="radio" name="choice" data-wrong> 63
</form>


<h2>How many amendments are in the Bill of Rights?
</h2>
<form>
  <input type="radio" name="choice" data-wrong> 11
  <input type="radio" name="choice" data-right> 10
  <input type="radio" name="choice" data-wrong> 13
  <input type="radio" name="choice" data-wrong> 9
</form>

<h2>
  Which language is the most widely spoken in South America?
  </h2>
<form>
  <input type="radio" name="choice" data-right> Spanish
  <input type="radio" name="choice" data-wrong> Portuguese
  <input type="radio" name="choice" data-wrong> English
  <input type="radio" name="choice" data-wrong> Dutch
</form>

<h2>Who was assassinated on the 22nd of November 1963?</h2>
<form>
  <input type="radio" name="choice" data-wrong> Martin Luther King
  <input type="radio" name="choice" data-right> JFK
  <input type="radio" name="choice" data-wrong> MK Gandhi
  <input type="radio" name="choice" data-wrong> Malcolm x 
</form>

<h2>Which one of the following states is NOT part of the Four Corners? </h2>
<form>
  <input type="radio" name="choice" data-wrong> New Mexico
  <input type="radio" name="choice" data-wrong> Utah
  <input type="radio" name="choice"data-wrong> Colorado
  <input type="radio" name="choice" data-right>Nevada
</form>

<h2>What’s the closest planet to the sun?
</h2>
<form>
  <input type="radio" name="choice" data-wrong> Venus
  <input type="radio" name="choice" data-right> Mercury
  <input type="radio" name="choice" data-wrong> Jupiter
  <input type="radio" name="choice" data-wrong> Saturn
</form>

<h2>Can you name the island which is considered both as an island and a continent?
</h2>
<form>
  <input type="radio" name="choice" data-wrong> Hawaii 
  <input type="radio" name="choice" data-wrong>Africa
  <input type="radio" name="choice" data-right> Australia 
  <input type="radio" name="choice" data-wrong> Japan
</form>

<h2>Can you count the number of stars present in the official flag of the USA?
</h2>
<form>
  <input type="radio" name="choice" data-wrong> 25
  <input type="radio" name="choice" data-wrong> 55
  <input type="radio" name="choice" data-right> 50
  <input type="radio" name="choice" data-wrong> 13
</form>

<h2>In which country was the first fireworks invented?</h2>
<form>
  <input type="radio" name="choice" data-wrong> United states
  <input type="radio" name="choice" data-right> China
  <input type="radio" name="choice" data-wrong> India
  <input type="radio" name="choice" data-wrong> Russia
</form>

<h2>How many members constitute the US Electoral College?</h2>
<form>
  <input type="radio" name="choice" data-wrong> 674
  <input type="radio" name="choice" data-wrong> 473
  <input type="radio" name="choice" data-right> 538
  <input type="radio" name="choice" data-wrong> 600
</form>

<li><a href="/rank.html" type="button"> Submit Answers</a></li>
<script type="text/javascript" src="answer.js"></script>

</body>
</html>